/* Base styles */
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding-top: 5px;
    padding-left: 45px;
    gap: 60px;
}

.nav a{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgb(237, 253, 255);
    text-decoration: none;
    padding-top: 20px;
    gap: 60px;
    font-weight: 700;
    margin-right: 50px;
}

.navigators{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    flex-wrap: nowrap;
}

.logo{
    padding-left: 5px;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-image: url("bg11.png");
}

.super{
    padding: 10px;
}

.intro{
    border-radius: 6px;
    background-color: rgba(24, 36, 39,0.5);
    padding: 25px;
    border: 2px solid rgb(255, 255, 255);
    color:aliceblue;
    font-weight: 700;
    box-shadow: 5px;
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	animation: glow 2s infinite;
}

.sub{
    display: flex;
    align-items: center;
    flex-direction: row;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	}
	50% {
		text-shadow: 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
	}
	100% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	}
}

.glow h2{
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 25ch;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    overflow:hidden;
    animation: animate-1 5s steps(25), animate-2 .5s infinite alternate;
}

@keyframes animate-1{
    0%{
        width:0;
    }
}

@keyframes animate-2{
    50%{
        border-color: transparent;
    }
}

.ring-container {
	position: relative;
}

.frame {
	width: 800px;
	height: 500px;
}

.center-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 590px;
	height: 370px;
}

/* Responsive Media Query */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
    }

    .nav a {
        padding-top: 10px;
        gap: 20px;
        font-size: 14px;
        margin-right: 20px;
    }

    .navigators {
        padding-left: 20px;
    }

    .logo {
        padding-left: 2px;
    }

    .main {
        padding: 20px;
        background-size: cover;
    }

    .glow {
        font-size: 24px;
    }

    .frame, .center-image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .nav a {
        gap: 10px;
    }

    .glow {
        font-size: 18px;
    }

    .login {
        right: 10px;
        font-size: 12px;
    }
}
