.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding-top: 5px;
    padding-left: 45px;
    gap: 60px;

}
.nav a{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgb(237, 253, 255);
    text-decoration: none;
    padding-top: 20px;
    gap: 60px;
    font-weight: 700;
    margin-right: 50px;

}
.navigators{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    flex-wrap: nowrap;
}
.logo{
    padding-left: 5px;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-image: url("bg11.png");
}
.super{
    padding: 10px;
}
.intro{
    border-radius: 6px;
    background-color: rgba(24, 36, 39,0.5);
    padding: 25px;
    border: 2px solid rgb(255, 255, 255);
    color:aliceblue;
    font-weight: 700;
    box-shadow: 5px;
    
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	animation: glow 2s infinite;
}
.sub{
    display: flex;
    align-items: center;
    flex-direction: row;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	}
	50% {
		text-shadow: 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
	}
	100% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	}
}
.glow {
	font-size: 48px;
	color: #fff;
}
.navigators .login {
    position: absolute;
    right: 150px;
    transform: translateY(-50%);
    padding-right: 20px;
    width: 100px;
    padding: 7px;
    font-size: 15px;
    background-color: #272727; /* Added this */
    color: #fff !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
  }

  .nav a {
    transition: color 0.3s ease; /* Add this */
  }
  
  .nav a:hover {
    color: #6494c0; /* Change this to your desired color */
  }
 
.glow h2{
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 25ch;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    overflow:hidden;
    animation: animate-1 5s steps(25), animate-2 .5s infinite alternate;
}  

@keyframes animate-1{
    0%{
        width:0;
    }
}

@keyframes animate-2{
    50%{
        border-color: transparent;
    }
}

.ring-container {
	position: relative;
}

.frame {
	width: 800px; /* adjust the width */
	height: 500px; /* adjust the height */
}

.center-image {
	position: absolute;
	top: 50%; /* center vertically */
	left: 50%; /* center horizontally */
	transform: translate(-50%, -50%); /* adjust positioning */
	width: 590px; /* adjust the width */
	height: 370px; /* adjust the height */
	
}

img .center-image{
    transition: O.3S;
    
}

