.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding-top: 5px;
    padding-left: 45px;
    gap: 60px;

}
.nav a{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgb(237, 253, 255);
    padding-top: 20px;
    gap: 60px;
    font-weight: 700;
    margin-right: 50px;

}
.navigators{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    flex-wrap: nowrap;
}
.logo{
    padding-left: 5px;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    background-image: url("bg11.png");
}
.super{
    padding: 10px;
}
.intro{
    border-radius: 6px;
    background-color: rgba(24, 36, 39,0.2);
    padding: 25px;
    border: 2px solid red;
    color:aliceblue;
    font-weight: 700;
}

